@import "tailwindcss";


:root {
  --cool-sky: #70BAFF;
  --azure-blue: #007EF5;
  --pale-sky: #D6EBFF;
  --alice-blue: #EBF5FF;
  --berry-crush: #AA4465;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
